*.log
*.s
*.a
*.i
*.o
*.out
*.d
*.pbi
*.xcl
*.browse
*.dbgdt
*.linf
*.crun
*.dni
*.dnx
*.wsdt
*.ps1
*.cmf
*.hum
*.hxl
*.mcu
*.mum
*.pum
*.sdb
*.jlink
*.rlf
*.sym
*.cmf
*.elf
*.bin
*.map
*.p1
*.pre
*.obj
*.res
*.lst
*.map
*.dcu
*.ddp
*.tds
*.fts
*.000
*.upx
*.~cpp
*.~pas
*.~c
*.~rc
*.~hmx
*.~ddp
*.~dfm
*.~h
*.~bpr
*.~dsk
*.~mak
*.dsk
*.bak
*.GID
*.cnt
*.eco
*.opj
*.dbk
GLOBAL.adu
*.$$$
desktop.*
vc_redist.*
log.txt*
.tmp*/
Reports/*
*.pdb
*.pch
.vs/
WinApiCalc/
x64/Debug/
Debug/
Release/
ccalc/bin
ccalc/obj
# Keep release executable
# !ccalc/bin/x64/Release/ccalc.exe
# !ccalc/bin/Win32/Release/ccalc.exe
# !x64/Release/fcalc.exe
# !Release/fcalc.exe
*.aps
Setup/*.exe
bin64/
calc_std/
Debug/
obj/
Release/
WinApiCalc/
x64/
BCB/*.exe
gcc_release/calclib.dll
*.bmp